{% extends 'base.html' %}

{% block title %}Table #6{% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <h2 class="mb-5">Table #6</h2>
        <div class="table-responsive">
            <table class="table table-striped custom-table">
                <thead>
                    <tr>
                        <th scope="col">Order</th>
                        <th scope="col">Name</th>
                        <th scope="col">Occupation</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Education</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr scope="row">
                        <td>1392</td>
                        <td><a href="#">James Yates</a></td>
                        <td>Web Designer <small class="d-block">Far far away, behind the word mountains</small></td>
                        <td>+63 983 0962 971</td>
                        <td>NY University</td>
                        <td><a href="#" class="more">Details</a></td>
                    </tr>
                    <!-- Más filas según sea necesario -->
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
