<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Predeterminado{% endblock %}</title>
</head>
<body>

<nav>
    <!-- Aquí podría ir tu barra de navegación -->
</nav>

<main>
    {% block content %}
    <!-- El contenido específico de cada página se insertará aquí -->
    {% endblock %}
</main>

<footer>
    <!-- Aquí podría ir tu pie de página -->
</footer>

</body>
</html>
